.container {
  height: 4.8rem;
  background-image: linear-gradient(to right, #014c8d, #04233e);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  nav {
    // width: 40%;
    font-weight: 600;
  
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
  
      li {
        font-size: 1.4rem;
        color: white;
        margin: 1.3rem 1rem 0;
        a {
          color: white;
          &,
          &:after,
          &:before {
            transition: all 0.5s;
          }
        }
  
        button {
          font-size: 1.5rem;
          background-color: white;
          border-radius: 2rem;
          border: none;
          padding: 0.8rem 2.5rem;
          color: white;
          transition: 300ms;
  
          &:hover {
            scale: 1.05;
          }
        }
      }
  
      p {
        background-color: white;
        border-radius: 2rem;
        padding: 0.8rem 2.5rem;
      }
    }
  }
  

  img {
    padding-top: 8px;
    height: 50px;
  }

  p {
    color: #ffff;
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
    margin-top: 10px;
    cursor: pointer;

    a {
      &,
      &:after,
      &:before {
        transition: all 0.5s;
      }
    }
  }

  .stroke {
    a {
      position: relative;

      &:after {
        position: absolute;
        bottom: -5px;
        left: 0;
        margin: auto;
        width: 0%;
        content: ".";
        color: transparent;
        background: white  ;
             height: 2px;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }

  .active {
    position: relative;

    &:after {
      position: absolute;
      bottom: -1rem;
      left: 0;
      width: 100%;
      content: ".";
      color: transparent;
      background: white   ;
        height: 2px;
    }
  }
}

.stroke {
  p {
    position: relative;

    &:after {
      position: absolute;
      bottom: -1rem;
      left: 0;
      margin: auto;
      width: 0%;
      content: ".";
      color: transparent;
      background: white;
      height: 2px;
    }

    &:hover:after {
      width: 100%;
    }
  }
}


.logoBx {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25rem;
  img {
    width: 100%;
  }
}

.stroke {
  a {
    position: relative;

    &:after {
      position: absolute;
      bottom: -1rem;
      left: 0;
      margin: auto;
      width: 0%;
      content: ".";
      color: transparent;
      background: white;
      height: 2px;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
