

.card{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid #eceaea;
    box-shadow:0 0 10px #ccc;
    transition: all 0.3s ease-in-out;
    
    &:hover{
        scale: 1.05;
        box-shadow:0 0 20px #ccc;
    }

    .time{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        p{
            margin-right: 5px;
        }
    }


}

.titleCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.modalContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
}