.main{
    background-color: #fff;

    .container{
        margin: 3rem;
    
    
    p {
        color: #003366;
        font-size: 17px;
        font-weight: 600;
        margin-top: 2rem;

    }

    h1{
        color: #003366;

    }

    input{
        border-color: #003366 ;
        border-radius: 10px;
        width: 15rem;
        height: 1.5rem;
        margin-bottom: 2rem;
    }
}
}