.main{
    background-color: #014C8D;
    border-radius: 25px;
    width: 15rem;
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0.5rem 1rem 1rem 1rem ;
    .imageBox{
        width: 100%;
        img{
            width: 100%;
        }
    }
     
    h3{
        color: #ffff;
        margin-bottom: 10px;
    }

    .time{
        background-color: #ffff;
        border-radius: 15px;
        width: 100%;
        p{
            color: #014C8D;
            font-size: 24px;
        }
    }

}